# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution
</div>
****

In [14]:
import pandas as pd
import numpy as np
from scipy import stats
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [7]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [20]:
data.to_csv(r'C:\Users\sirro\Documents\Skool\Springboard\export_dataframe.csv', index = None, header=True)

In [33]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

<div class="span5 alert alert-success">
<p>Your answers to Q1 and Q2 here</p>
</div>

#### What test is appropriate for this problem? Does CLT apply?

In order to determine the existence of racial discrimination a two sample t-test statistic would be appropriate. The following conditions where met; 1. The samples are random and 2. Unknown population standard deviation. There are rows of data representing each idividual therefore the Central Limit Theorem applies in this situation.

#### What are the null and alternate hypotheses?

H<sub>O</sub>: There is no racial discrimination <br>
H<sub>A</sub>: There is racial discrimination

#### Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.

In [12]:
# Your solution to Q3 here
w = data[data.race=='w']
b = data[data.race=='b']

#Margin of error at 99% confidence, white sounding names
n_w = len(w.call)
m_w = stats.t.ppf((1 + 0.99) / 2, n_w - 1)

#Margin of error at 99% confidence, black sounding names
n_b = len(b.call)
m_b = stats.t.ppf((1 + 0.99) / 2, n_b - 1)

#Confidence Intervals
ci_w = (np.mean(w.call) - m_w, np.mean(w.call) + m_w)
print('With 99% confidence the interval is', ci_w)

ci_b = (np.mean(b.call) - m_w, np.mean(b.call) + m_b)
print('With 99% confidence the interval is', ci_b)

With 99% confidence the interval is (-2.4813415006882993, 2.6743599818236676)
With 99% confidence the interval is (-2.51337435554336, 2.642327126968607)

In [15]:
#Two sample t-test
t, p = stats.ttest_ind(w.call, b.call)
print("t-statistic:", t)
print("p-value:", p)

t-statistic: 4.114705290861751
p-value: 3.940802103128886e-05

The p-value (3.94e-5) obtained for the two-sample t-test is less than 0.01 (significance level, 99% confidence). Therefore with 99% confidence the null hypothesis can be rejected, there's a significant difference between the callbacks for blacks and whites.

<div class="span5 alert alert-success">
<p> Your answers to Q4 and Q5 here </p>
</div>

#### Write a story describing the statistical significance in the context or the original problem.

Racial diversity exist for the purpose of cultural enhancement however it has become a sore point in the US society. This research seeks to evalute the policies of companies as it relates to racial diversity in the workplace. A two sample t-test was performed to determine if the differecne in the number of callbacks for white-sounding names compared to black-sounding names was statistically significant. A p-value of 3.94e-5 reveals that there is a signficant difference between the callbacks received by each group, an indication of racial discrimination in the workplace.

#### Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

Race/name may not be the only factor that would result in a callback. Other factors which may directly influence callback rates include gender, education and years of experience. It is difficult to determine how education influence callback due to the fact that I'm ignorant of what level of education each numeral (0-4) represent. The analysis (mean/average) below takes into consideration race, race-years of experience, gender-years of experience and race-gender-years of experience relationships. The significants of each as not be evaluated however just by eyeballing the averages, in order for a black female to receive a callback they are required to have a lot more experience than the other groups.

In [23]:
# Average Years Experience 
w_exp = np.mean(w.yearsexp)
b_exp = np.mean(b.yearsexp)

print('The average years of experience for white-sounding names is', w_exp)
print('The average years of experience for black-sounding names is', b_exp)
print()

# Average Years Expereince for callbacks
w_exp_call = np.mean(w.yearsexp[w.call == 1])
b_exp_call = np.mean(b.yearsexp[b.call == 1])

print('The average years of experience for white-sounding names which received a callback is', w_exp_call)
print('The average years of experience for black-sounding names which received a callback is', b_exp_call)
print()

# Average Years Experience for no-callbacks
w_exp_nocall = np.mean(w.yearsexp[w.call == 0])
b_exp_nocall = np.mean(b.yearsexp[b.call == 0])

print('The average years of experience for white-sounding names which received no callback is', w_exp_nocall)
print('The average years of experience for black-sounding names which received no callback is', b_exp_nocall)
print()

The average years of experience for white-sounding names is 7.856262833675565
The average years of experience for black-sounding names is 7.829568788501026

The average years of experience for white-sounding names which received a callback is 8.782978723404256
The average years of experience for black-sounding names which received a callback is 9.050955414012739

The average years of experience for white-sounding names which received no callback is 7.757272727272727
The average years of experience for black-sounding names which received no callback is 7.74539069359087

In [32]:
#Call backs per gender
f_call = sum(data[data.sex == 'f'].call)
m_call = sum(data[data.sex == 'm'].call)
print('The number of males which received a callback is', f_call)
print('The number of female which received a callback is', m_call)
print()

# Average Years Expereince for callbacks by race and gender
w_exp_callf = np.mean(w.yearsexp[w.call == 1][w.sex == 'f'])
w_exp_callm = np.mean(w.yearsexp[w.call == 1][w.sex == 'm'])
print('The average years of experience for white-sounding names and female which received a callback is', w_exp_callf)
print('The average years of experience for white-sounding names and male which received a callback is', w_exp_callm)
print()

b_exp_callf = np.mean(b.yearsexp[b.call == 1][b.sex == 'f'])
b_exp_callm = np.mean(b.yearsexp[b.call == 1][b.sex == 'm'])
print('The average years of experience for black-sounding names and female which received a callback is', b_exp_callf)
print('The average years of experience for black-sounding names and male which received a callback is', b_exp_callm)

The number of males which received a callback is 309.0
The number of female which received a callback is 83.0

The average years of experience for white-sounding names and female which received a callback is 8.994565217391305
The average years of experience for white-sounding names and male which received a callback is 8.019607843137255

The average years of experience for black-sounding names and female which received a callback is 9.728
The average years of experience for black-sounding names and male which received a callback is 6.40625